@charset "UTF-8";

body{
	background-color:white;
	text-align: center;
	font-family:  serif;
}
table {
    margin-left: auto;
    margin-right: auto;
}

.log {
	color:rgb(255, 255, 255);
	font-family: Yu Gothic;   
	background-color: black;
}