@charset "UTF-8";

body{
	background-color:white;
	text-align: center;
	font-size:  13px;  
}


.footer {
    font-size:  30px;       
    margin:  20px;  
    font-family:  serif;  
    color:black;         
}





