@charset "UTF-8";
body{
	background-color:white;
	text-align: center;
}

.home {
	border:black;
}

.header2 {
    font-size:  40px;       
    margin:  20px;  
    font-family: serif ;  
    color:black;         
}
.mypage {
    font-size:  20px;       
    margin:  20px;  
    font-family:  serif;  
    color:black;     
}

.qatar {
	width: 950px;
	
}
.inline {
    display:inline;
}

.log {
	color:rgb(255, 255, 255);
	font-family:  Courier;   
	background-color: black;
	
}
.h1 {
	font-size: 40px;
	position:  relative;                
    z-index:  99;
    color: white;
}
a {
	color: dimgray;
	font-family:  serif; 
	
}


.button:hover {
    box-shadow: 0px 12px 24px rgb(64, 0, 128);
    transform: translateY(-4px);
}

/* ナビゲーションメニュー */
.nav-menu {
  background-color: rgb(255, 255, 255); /* メニューの背景色 */
  color: #fff; /* メニューテキストの色 */
  position:  relative;                /* 位置指定 */
  z-index:  100;           
  
}

.menu-list {
  display: flex;
  justify-content: center; /* メニューアイテムを中央揃えに */
  width:1000px;
}
.menu-item {
  border-left: 1px solid rgb(0, 0, 0); /* メニューアイテムの左ボーダー */
  position: relative;
}
.menu-item:last-child {
  border-right: 1px solid rgb(0, 0, 0); /* 最後のメニューアイテムの右ボーダー */
}

/* メニューアイテムのホバースタイル */
.menu-item:hover .drop-menu-list {
  opacity: 1; /* 不透明度を最大に */
  transition: opacity .3s, visibility .3s; /* アニメーション設定 */
  visibility: visible; /* 下層メニューを表示 */
}

.menu-item a {
  align-items: center;
  color: rgb(0, 0, 0); /* メニューアイテム内のリンクテキストの色 */
  display: flex;
  height: 50px;
  justify-content: center;
  text-decoration: none; /* リンクの下線を非表示 */
  width: 120px;
}

/* ドロップダウンメニュー */
.drop-menu {
  position: relative;
}
.drop-menu-list {
  background-color: rgb(255, 255, 255); /* ドロップダウンメニューの背景色 */
  left: 0;
/*  opacity: 0;  不透明度を最小に */
  position: absolute;
  top: 100%;
  transition: opacity .3s, visibility .3s; /* アニメーション設定 */
  visibility: hidden; /* 下層メニューを非表示 */
  width: max-content;
}


