<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>顧客情報変更画面</title>
	<link rel="stylesheet" type="text/css" href="/admin.css">
</head>

<body>

	<h1>管理者用</h1>
	<br>
	<h3>以下の内容で顧客情報を変更しました。</h3>
	<table border="1">
		<tr>
			<th>顧客ID</th>
			<td>[[${newAccount.accountId}]]</td>
		</tr>
		<tr>
			<th>名前</th>
			<td>[[${newAccount.name}]]</td>
		</tr>
		<tr>
			<th>性別</th>
			<td>[[${newAccount.gender}]]</td>
		</tr>
		<tr>
			<th>住所</th>
			<td>[[${newAccount.address}]]</td>
		</tr>
		<tr>
			<th>電話番号</th>
			<td>[[${newAccount.tel}]]</td>
		</tr>
		<tr>
			<th>メールアドレス</th>
			<td>[[${newAccount.email}]]</td>
		</tr>
	</table>

	<a href="/admin/top">顧客情報一覧画面へ</a>
	<br>
	<form action="/admin/logout" method="get">
		<input type="submit" value="ログアウト" class="log">
	</form>
</body>

</html>