<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>管理者トップページ</title>
<link rel="stylesheet" type="text/css" href="/admin.css">
</head>
<body>
		<div style="text-align: center;">
	<h1>管理者トップ</h1>
	<br>
	<h3>ログインしました</h3>
    <br>
        <form actino="URL" name=""> 
	<input type="submit" value="顧客一覧表示">
         </form>

    <br>
        <form actino="URL" name=""> 
    <input type="submit" value="変更する顧客情報を検索">
        </form>
    <br>
        <form actino="URL" name="">
    <input type="submit" value="ログアウト">
        </form>
	</div>
	
</body>
</html>
