<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>顧客情報変更</title>
<link rel="stylesheet" type="text/css" href="/admin.css">
</head>

<body>
		<div style="text-align: center;">
	<h1>管理者用</h1>
	<br>
	<h3>変更する顧客情報</h3>
    <br>
       
            <table border="1">
                <tr>
                    <th>部屋番号</th><td><input type="text" name="roomNo" value=""></td>
                </tr>
                <tr>
                    <th>予約番号</th><td><input type="text" name="reservationId" value=""></td>
                </tr>
                <tr>
                    <th>顧客ID</th><td><input type="text" name="accountId" value=""></td>
                </tr>
                <tr>
                    <th>人数</th><td><input type="text" name="numberPeople" value=""></td>
                </tr>
                <tr>
                    <th>チェックイン日</th><td><input type="text" name="checkIn" value=""></td>
                </tr>
                <tr>
                    <th>チェックアウト日</th><td><input type="text" name="checkOut" value=""></td>
                </tr>
                <tr>
                    <th>合計金額</th><td><input type="text" name="totalPrice" value=""></td>
                </tr>
            </table>

            <form actino="URL" name=""> 
    <input type="submit" value="削除">
            </form>
            
        <form actino="URL" name=""> 
    <input type="submit" value="変更">
        </form>

        <a href="" name="">管理者用トップページへ</a>
	</div>
	
</body>
</html>
