<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>header</title>
	<link rel="stylesheet" type="text/css" href="/header.css">
</head>

<body>

<nav class="nav-menu">

    <li class="menu-item">
      <a href="#">MENU</a>
      <ul class="drop-menu-list">
		<li class="drop-menu-item">
          <a href="/account">HOME PAGE</a>
        </li>
        <li class="drop-menu-item">
          <a href="/user/home">MY PAGE</a>
        </li>
        <li class="drop-menu-item">
          <a href="/account/login">LOGOUT</a>
        </li>
      
   </ul>
</nav>

<br>
<br>
<br>
<br>
<br>
<br>
<br>



	<h1 class="h1">
		Marina Bay Sunas
	</h1>

</body>

</html>