<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Marina Bay Sunas sign up</title>
	<link rel="stylesheet" type="text/css" href="/userReserve.css">
</head>

<body>
	<header th:replace="header"></header>

	<h1>sign up</h1>
	<hr>
	<th:block th:each="error:${errors}">
		[[${error}]]<br>
	</th:block>
	<form action="/account/add" method="post">
		<table border="1">
			<tr>
				<th>名前：</th>
				<td><input type="text" name="name" th:value="${name}" maxlength="60" required>
				</td>
			</tr>
			<tr>
				<th>性別：</th>
				<td><input type="radio" name="gender" value="men" th:checked="${gender=='men'}">男性
					<input type="radio" name="gender" value="women" th:checked="${gender=='women'}">女性
					<input type="radio" name="gender" value="else" th:checked="${gender=='else'}">その他
				</td>
			</tr>
			<tr>
				<th>住所：</th>
				<td>
					<input type="text" name="address" th:value="${address}" maxlength="150" required>
				</td>
			</tr>
			<tr>
				<th>電話番号：</th>
				<td>
					<input type="tel" name="tel" th:value="${tel}" placeholder="ハイフン無し" minlength="10" maxlength="11"
						required>
				</td>
			</tr>
			<tr>
				<th>[[${emailError}]]メールアドレス：</th>
				<td><input type="email" name="email" th:value="${email}" maxlength="256" required>
				</td>
			</tr>
			<tr>
				<th>[[${reEmailError}]]確認用メールアドレス：</th>
				<td>
					<input type="email" name="reEmail" maxlength="256" required>
				</td>
			</tr>
			<tr>
				<th>パスワード：</th>
				<td><input type="password" name="password" placeholder="8文字以上20文字以内" minlength="8" maxlength="20"
						required>
				</td>
			</tr>
			<tr>
				<th>[[${rePasswordError}]]確認用パスワード：</th>
				<td><input type="password" name="rePassword" placeholder="8文字以上20文字以内" minlength="8" maxlength="20"
						required>
				</td>
			</tr>
		</table>
		<input type="submit" value="CHECK" class="log">
	</form>
	<br>
	<a href="/account/login">BACK</a>

	<footer th:replace="footer"></footer>
</body>

</html>