<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Marina Bay Sunas 予約履歴</title>
	<link rel="stylesheet" type="text/css" href="/userReserve.css">
</head>

<body>
	<header th:replace="header"></header>
	<h1>予約履歴</h1>
	<hr>
	<h2>[[${@loginAccount.name}]]様</h2>
	<hr>
	<span th:each="order:${list}">
		<br>
		<table border="1">
			<tr>
				<th>予約番号</th>
				<td><span th:text="${order.ordersId}"></span></td>
			</tr>
			<tr>
				<th>部屋番号</th>
				<td><span th:text="${order.roomNo}"></span>号室</td>
			</tr>
			<tr>
				<th>人数</th>
				<td><span th:text="${order.numberPeople}"></span>人</td>
			</tr>
			<tr>
				<th>チェックイン日</th>
				<td><span th:text="${order.checkIn}"></span>～</td>
			</tr>
			<tr>
				<th>チェックアウト日</th>
				<td><span th:text="${order.checkOut}"></span></td>
			</tr>
		</table>
		<h3>合計金額：\<span th:text="${order.totalPrice}"></span></h3>

		<form th:action="|/user/update/${order.ordersId}|" method="get">
			<input type="submit" value="MODIFY YOUR RESERVATION" class="log"><br>
			<!--予約を変更-->
		</form>
		<form th:action="|/user/delete/${order.ordersId}|" method="post">
			<input type="submit" value="CANCEL YOUR RESERVATION" class="log"><br>
			<!--予約をキャンセル-->
		</form>
		<br>
		<hr>
	</span>
	<a href="/account/login">ログアウト</a><br>
	<a href="/user/reserve">新規予約へ</a>
	<a href="/user/home">ホームページへ</a>

	<footer th:replace="footer"></footer>

</body>

</html>