
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Marina Bay sunads 予約完了</title>
</head>

<body>
	<h1>予約完了</h1>
	<hr>
	<h2>[[${@loginAccount.name}]]様、以下の内容で予約を承りました。</h2>
	<br>
	<form action="/user/update" method="post">
		アカウントID：<input type="text" name="accountId" th:value="${order.accountId}"><br>
		予約番号：<input type="text" name="ordersId" th:value="${order.ordersId}"><br>
		部屋番号：<input type="text" name="roomNo" th:value="${order.roomNo}">号室<br>
		人数：<input type="text" name="numberPeople" th:value="${order.numberPeople}">人<br>
		チェックイン日：<input type="date" name="checkIn" th:value="${order.checkIn}">～<br>
		チェックアウト日：<input type="date" name="checkOut" th:value="${order.checkOut}"><br><br>
		<hr>
		<h3>合計金額：\<input type="text" name="totalPrice" th:alue="${order.totalPrice}"></h3>
		<input type="submit" value="予約を変更"><br>
	</form>


</body>

</html>