<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Marina Bay Sunads パスワード変更</title>
	<link rel="stylesheet" type="text/css" href="/userReserve.css">
</head>

<body>
	<header th:replace="header"></header>
	<h1>パスワード変更</h1>
	<p>登録した電話番号、メールアドレス、新規パスワードを入力してください。</p>
	<span th:if="${error}">
		<span th:each="err:${error}" style="color:red;">[[${err}]]</span>
		</th:block>

		<form action="/account/passwordUpdate" method="post" class="form">
			電話番号：<input type="tel" name="tel" placeholder="ハイフン無し" minlength="10" maxlength="11" required><br>
			メールアドレス：<input type="email" name="email" maxlength="256" required><br>
			新規パスワード：<input type="password" name="newPassword" placeholder="8文字以上20文字以内" minlength="8" maxlength="20"
				required><br>
			新規パスワード（確認用）：<input type="password" name="reNewPassword" placeholder="8文字以上20文字以内" minlength="8"
				maxlength="20" required><br>
			<br>
			<input type="submit" value="MODIFY" class="rsv"><br>

		</form>
		<a href="/account/login">戻る</a>
		<footer th:replace="footer"></footer>
</body>

</html>