<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Marina Bay Sunas|Reservation Confirmation</title>
	<link rel="stylesheet" type="text/css" href="/userReserve.css">
</head>

<body>
	<header th:replace="header"></header>

	<h1>Confirmation</h1>
	<hr>
	<h2>[[${@loginAccount.name}]]様</h2>
	<br>
	<form action="/user/reserve/confirm" method="post">
		部屋番号：[[${order.roomNo}]]
		<input type="hidden" name="roomNo" th:value="${order.roomNo}">号室<br>
		人数：[[${order.numberPeople}]]
		<input type="hidden" name="numberPeople" th:value="${order.numberPeople}">人<br>
		チェックイン日：[[${order.checkIn}]]
		<input type="hidden" name="checkIn" th:value="${order.checkIn}"><br>
		チェックアウト日：[[${order.checkOut}]]
		<input type="hidden" name="checkOut" th:value="${order.checkOut}"><br><br>
		<hr>
		<h3>合計金額：\[[${order.totalPrice}]]
			<input type="hidden" name="totalPrice" th:value="${order.totalPrice}">
		</h3>
		<input type="submit" value="RESERVE" class="rsv"><br><br>
　　　　　　　　　　　　　　　　<!--予約完了-->
		<a href="/user/reserve">BACK</a>
	</form>

	<footer th:replace="footer"></footer>
</body>

</html>