<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Marina Bay Sunads 登録内容確認</title>
	<link rel="stylesheet" type="text/css" href="/userAddAccount.css">
</head>

<body>
	<header th:replace="header"></header>

	<h1>登録内容確認</h1>
	<hr>
	<form action="/account/add/confirm" method="post">
		名前：[[${name}]]<br>
		性別：[[${gender}]]<br>
		住所：[[${address}]]<br>
		電話番号：[[${tel}]]<br>
		メールアドレス：[[${email}]]<br>
		<input type="hidden" name="name" th:value="${name}">
		<input type="hidden" name="gender" th:value="${gender}">
		<input type="hidden" name="address" th:value="${address}">
		<input type="hidden" name="tel" th:value="${tel}">
		<input type="hidden" name="email" th:value="${email}">
		<input type="hidden" name="password" th:value="${password}">

		<input type="submit" value="CREATE">
                              <!--	登録完了-->
		<span>　　　</span>
		<a th:href="|/account/add?name=${name}&gender=${gender}&address=${address}&tel=${tel}&email=${email}|">戻る</a>
	</form>

	<br><br>
	<a href="/account/login">ホームページへ</a>

	<footer th:replace="footer"></footer>
</body>

</html>