<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>○○Hotel ログイン</title>
</head>

<body>
	<header th:replace="header"></header>

	<hr>
	<br>
	[[${error}]]
	<form action="/account/login" method="post">
		メールアドレス：<input type="email" name="email" placeholder="email" maxlength="256" required><br>
		パスワード：<input type="password" name="password" placeholder="password" maxlength="20" required>
		<input type="submit" value="ログイン">

	</form>

	<a href="/account/add">新規登録はこちら</a>

	<footer th:replace="footer"></footer>
</body>

</html>