<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Marina Bay Sunas 新規予約</title>
	<link rel="stylesheet" type="text/css" href="/userReserve.css">
</head>

<body>

	<header th:replace="header"></header>

	<h1 class="h1">新規予約</h1>
	<hr>
	<p>ようこそ！[[${@loginAccount.name}]]様</p>
	<br>
	<th:block th:if="${error}">
		<span th:each="err:${error}" style="color:red;">[[${err}]]<span>
	</th:block>
	<form action="/user/reserve" method="post" class="form">
<!--		Arrival：<input type="date" name="date">～-->
<!--	    Departure：<input type="date" name="date"><br>-->
<!--		Room Number：<input type="text" name="room_no"><br>-->
<!--		Guests Per Room：<input type="text" name="room_no"><br>-->
        GUEST INFORMATION<br>
		チェックイン日：<input type="date" name="checkIn" required>～
		チェックアウト日：<input type="date" name="checkOut" required><br>
		お部屋番号：<input type="number" name="roomNo" maxlength="3">号室
		<pr>　<pr>
				人数：<select name="numberPeople" required>
					<option value="1">1人</option>
					<option value="2">2人</option>
					<option value="3">3人</option>
					<option value="4">4人</option>
					<option value="5">5人</option>
				</select>
				<input type="submit" value="PROCEED" class="log"><br><br>
<!--予約-->
	</form>
	[[${year}]]
	<h2 style="text-align: center"><a th:href="|/user/reserve?month=${lastMonth}&year=${lastYear}|" style="text-decoration: none;">◀</a>
		　　　　　　　　　　　　　[[${month}]]月　　　　　　　　　　　　　
		<a th:href="|/user/reserve?month=${nextMonth}&year=${nextYear}|" style="text-decoration: none;">▶</a>
	</h2>
	<a th:href="|/user/reserve?floor=0|">2F</a>　<a th:href="|/user/reserve?floor=1|">3F</a>　<a
		th:href="|/user/reserve?floor=2|">5F</a>
	<style type="text/css">
		.diagonal tr:first-child th:first-child {
			background-image: linear-gradient(to right top, transparent calc(50% - 0.5px), #eaeaea 50%, #eaeaea calc(50% + 0.5px), transparent calc(50% + 1px));
			display: grid;
			width: max-content;
			justify-content: space-between;
			grid-template-columns: repeat(2, 1fr);
			grid-auto-rows: 1fr;
		}

		.col-header {
			grid-column-start: 2;
			text-align: right;
		}

		.row-header {
			grid-column-start: 1;
		}
	</style>
	<table align="center" border="1" class="diagonal">
		<tr>
			<td align="center"><span class="col-header">部屋番号</span><span class="row-header">日付</span></td>
			<td width="30" align="center" th:each="day:${#numbers.sequence(1,maxDay)}">
				[[${day}]]
			</td>
		</tr>
		<tr th:each="i : ${#numbers.sequence(Floor, Floor+9)}">
			<td th:text="${roomList[i]}" align="center"></td>
			<span th:each="day:${#numbers.sequence(0,maxDay-1)}">
				<span th:if="${roomEmpty[i][day]} eq 1">
					<td width="30" align="center" style="background: #ff0000">
					</td>
				</span>
				<span th:if="${roomEmpty[i][day]} ne 1">
					<td width="30" align="center"></td>
				</span>
			</span>
		</tr>
	</table>


	<footer th:replace="footer"></footer>
</body>

</html>