<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Marina Bay Sunas My Page</title>
	<link rel="stylesheet" type="text/css" href="/userLogin.css">
</head>

<body>
	<header th:replace="header"></header>
	<h1>My Page</h1>
	<hr>
	ようこそ！[[${@loginAccount.name}]]様！
	<br>
	<br>
	<button onclick="location.href='/user/reserve'" class="log">RESERVE</button>
<!--	新規予約はこちらから-->
	<button onclick="location.href='/user/archive'" class="log">RESERVATION HISTORY</button>
<!--    予約履歴はこちらから-->
	<footer th:replace="footer"></footer>
</body>

</html>