<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Marina Bay Sunas | Reserve</title>
	<link rel="stylesheet" type="text/css" href="/userReserveRoom.css">
</head>

<body>

	<header th:replace="header"></header>

	<h1>Reserve</h1>
<!--	<h1 class="h1">Reserve</h1>-->
	<hr>
	<p>ようこそ！[[${@loginAccount.name}]]様</p>
	<br>
	<th:block th:if="${error}">
		<span th:each="err:${error}" style="color:red;">[[${err}]]<br></span>
	</th:block>
	
	<form action="/user/reserve" method="post" class="form">
		
		<label class="open" for="pop-up">▼ View guest rooms on the 2nd floor</label>
<input type="checkbox" id="pop-up">
<div class="overlay">
	<div class="window">
		<label class="close" for="pop-up">CLOSE</label>
		<h4>Guest Rooms (2F)</h4>
		
Each detail has been carefully selected to offer a space of calm and peace. 
Neutral color palettes and timeless design distinguish each of the guest rooms.
        <p>
			<img src="/img/EDT_Rome1_24_SIGN-SUITE-BATH_RGB_V1.jpg" width="230">
			<img src="/img/EDT_Rome1_22_SIGN-SUITE-BED_RGB_RGB_V2.jpg" width="220">
			<img src="/img/Kanai1_14_2004_14_bath_RGB_V2.jpg" width="230">
			<img src="/img/Sin1_22a_441_RGB_V2.jpg" width="220">
		
		</p>
	</div>
</div>

<br>

<label class="open3" for="pop-up3">▼ View guest rooms on the 3rd floor</label>
<input type="checkbox" id="pop-up3">
<div class="overlay3">
	<div class="window3">
		<label class="close3" for="pop-up3">CLOSE</label>
		<h4>Guest Rooms (3F)</h4>
		All guest roooms with stylishly modern decor and posh detailing
		<p>
			<img src="/img/23__Madrid1_49_V3.jpg" width="250">
			<img src="/img/EDT_BCN2_03_RGB_V1.jpg" width="200">
			<img src="/img/02-Standard-Superior-Bathroom.jpg" width="200">
			<img src="/img/Kanai2_19c_3030_RGB_V1.jpg" width="230">
			<img src="/img/TSQ1_09_LOFT-SUITE-NIGHT_RGB_V3.jpg" width="250" >
		</p>
	</div>
</div>

<br>
	
<label class="open5" for="pop-up5">▼ View suites on the 5th floor</label>
<input type="checkbox" id="pop-up5">
<div class="overlay5">
	<div class="window5">
		<label class="close5" for="pop-up5">CLOSE</label>
		<h4>Suites (5F)</h4>
		   
Flooded with natural light, luxury suites offer an airy, spacious layout with the hotel's signature touches as well as spacious bathrooms with marble bathtubs with large windows that offer stunning views. 
<br>Selected suites benefits from beautiful fully furnished and oversized private terraces.
           <p>
		   <img src="/img/スクリーンショット_25-6-2024_133756_.jpeg" width="250">
		   <img src="/img/EDT_BCN2_20_RGB_V2.jpg" width="250">
		   <img src="/img/3__11_Madrid1_01_RGB_V4_FULL-scaled.jpg" width="220">
		   <img src="/img/EDT_BCN2_04_RGB_v3.jpg" width="250">
		   <img src="/img/EDT_BCN2_19b_RGB_V2.jpg" width="250">
		   <img src="/img/EDT_Madrid2_45_RGB_V1-scaled.jpg" width="220">
		   </p>
	</div>
</div>	

<!--		Arrival：<input type="date" name="date">～-->
<!--	    Departure：<input type="date" name="date"><br>-->
<!--		Room Number：<input type="text" name="room_no"><br>-->
<!--		Guests Per Room：<input type="text" name="room_no"><br>-->
<br><br><br>
        GUEST INFORMATION<br><br>
		チェックイン日：<input type="date" name="checkIn" required>～
		チェックアウト日：<input type="date" name="checkOut" required><br>
		お部屋番号：<input type="number" name="roomNo" maxlength="3" required>号室
		<pr>　<pr>
				人数：<select name="numberPeople" required>
					<option value="1">1人</option>
					<option value="2">2人</option>
					<option value="3">3人</option>
					<option value="4">4人</option>
					<option value="5">5人</option>
				</select>
				<input type="submit" value="PROCEED" class="log"><br><br>
<!--予約-->
	</form>
	[[${year}]]
	<h2 style="text-align: center"><a th:href="|/user/reserve?month=${lastMonth}&year=${lastYear}&minDay=${minDay}&maxDay=${maxDay}|" style="text-decoration: none;">◀</a>
		　　　　　　　　　　　　　[[${month}]]月　　　　　　　　　　　　　
		<a th:href="|/user/reserve?month=${nextMonth}&year=${nextYear}&minDay=${minDay}&maxDay=${maxDay}|" style="text-decoration: none;">▶</a>
	</h2>
	<form th:action="|/user/reserve?year=${year}&month=${month}|" method="get" align="left">
		<input type="hidden" name="year" th:value="${year}">
		<input type="hidden" name="month" th:value="${month}">
		<input type="number" min="1" max="31" name="minDay" th:value="${minDay}">日～
		<input type="number" min="1" max="31" name="maxDay" th:value="${maxDay}">日
		<input type="submit" value="日にち検索">
	</form>
	<a th:href="|/user/reserve?year=${year}&month=${month}&floor=0&minDay=${minDay}&maxDay=${maxDay}|">2F</a>
	　<a th:href="|/user/reserve?year=${year}&month=${month}&floor=1&minDay=${minDay}&maxDay=${maxDay}|">3F</a>
	　<a th:href="|/user/reserve?year=${year}&month=${month}&floor=2&minDay=${minDay}&maxDay=${maxDay}|">5F</a>
	<style type="text/css">
		.diagonal tr:first-child th:first-child {
			background-image: linear-gradient(to right top, transparent calc(50% - 0.5px), #000000 50%, #000000 calc(50% + 0.5px), transparent calc(50% + 1px));
			display: grid;
			width: max-content;
			justify-content: space-between;
			grid-template-columns: repeat(2, 1fr);
			grid-auto-rows: 1fr;
		}

		.col-header {
			grid-column-start: 2;
			text-align: right;
		}

		.row-header {
			grid-column-start: 1;
		}
	</style>
	<table align="center" border="1" class="diagonal">
		<tr>
			<th><span class="col-header">日付</span><span class="row-header">部屋番号</span></th>
			<th width="30" align="center" th:each="day:${#numbers.sequence(minDay,maxDay)}">[[${day}]]</th>
		</tr>
		<tr th:each="i : ${#numbers.sequence(Floor, Floor+9)}">
			<th th:text="${roomList[i]}" align="center"></th>
			<span th:each="day:${#numbers.sequence(minDay-1,maxDay-1)}">
				<span th:if="${roomEmpty[i][day]} eq 1">
					<td width="30" align="center" style="background: #808080"></td>
				</span>
				<span th:if="${roomEmpty[i][day]} ne 1">
					<span th:if="${(day+week+1) % 7} eq 0">
						<td width="30" align="center" style="background: #add8e6"></td>
					</span>
					<span th:if="${(day+week+1) % 7} ne 0">
						<span th:if="${(day+week) % 7} eq 0">
							<td width="30" align="center" style="background: #ff0000"></td>
						</span>
						<span th:if="${(day+week) % 7} ne 0">
							<td width="30" align="center"></td>
						</span>
					</span>
				</span>
			</span>
		</tr>
	</table>


	<footer th:replace="footer"></footer>
</body>

</html>